<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DROPBOX_CAPACITY_GB" value="6.25"/>
    <add key="DROPBOX_WARNING" value="75"/>
    <add key="DROPBOX_ALARM" value="85"/>
    <add key="DROPBOX_DIR" value="C:\Users\Joost\Dropbox"/>
    <add key="DROPBOX_SOURCE_DIR" value="C:\Users\joost\Dropbox\Camera Uploads"/>
    <add key="NAS_HOSTNAME" value="nas"/>
    <add key="NAS_DEST_DIR" value="P:\00000000 - Smartphone Joost"/>
  </appSettings>
</configuration>